.logout{
    width: 5px;
    height: 5px;
}
.dashboard-back{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(13, 28, 247, 0.774), rgba(38, 52, 247, 0.5)), url('../public/images/rs_logo.png');
    background-repeat: repeat;
}
.dash-body{
    display:flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;

}
.dash-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 56, 245, 0.76);
    margin: 10px;
    border-radius: 10px;

}
.dash-titles{
    font-size: 30px;
   margin:5%;
}
.dash-title-box{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: blueviolet;
    justify-content: space-between;
}
.dash-line{
    width: 90%;
}
/*test*/