nav {
    padding-top: 20px;
    background-color: bisque;
    height: 11vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
}
.nav-link {
    text-decoration: none;
    color: orange;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
.logo-nav {
    width: 6vw;
}