.bg-overlay{
	width: 100vw;
    height: 100%;
    background: linear-gradient(0deg, rgba(255 153 102 /90%), rgb(255 94 98 /90%)), url('../public/images/rs_logo.png');
    background-repeat: repeat;
    padding-bottom: 160px;
}
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-project-container {
    width: 100vw;
    padding-top: 15vh;
    color: rgb(255 153 102);
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.project-container {
    margin: 0px 300px 0px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color:rgba(255, 228, 196, 0.842);
}
.single-project-container {
   margin-left: 200px;
   margin-right: 200px;
   margin-bottom: 60px;
}
.projectTitle {
    color: rgb(255 94 98);
    font-size: 30px;
}
.project-text {
    color: rgb(255 94 98 );
    font-size: 20px;
}
.project-link {
    text-decoration: none;
    color: rgb(255 94 98 );
    font-size: 20px;
}
.line {
    width: 14vw;
    border: 0.5px solid rgb(255 153 102);
    border-radius: 50px;
}
.line-one {
    width: 12vw;
    border: 0.5px solid rgb(255 153 102);
    border-radius: 50px;
}
.line-two {
    width: 10vw;
    border: 0.5px solid rgb(255 153 102);
    border-radius: 50px;
}