.bg-overlay{
	width: 100%;
    background: linear-gradient(0deg, rgba(179 115 37 /90%), rgba(255 0 150 / 61%)), url('../public/images/rs_logo.png');
    background-repeat: repeat;
    padding-bottom: 50px;
}
.heading-project-container {
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#ffe4c480;
    color:#1ae6db;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
/* .project-visible {
    height: 30vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(255, 228, 196, 0.37);
} */
.project-container {
    margin: 30px 300px 0px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:#ffe4c480;
    border-radius: 60px;
}
.single-project-container {
    background-color:#ffe4c4;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
}
.projectTitle {
    color:#16f1e7;
    font-size: 30px;
}
.project-text {
    color:#16f1e7;
    font-size: 20px;
}
.project-link {
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
}
.line {
    width: 40vw;
    border: 1px solid rgba(37, 195, 206, 0.329);
    border-radius: 50px;
}